<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App.EndPoints.MVC.HWW21</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.EndPoints.MVC.HWW21.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm iran-navbar">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Authentication" asp-action="Login"> مکتب وبلاگ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                           
                        </li>
                    </ul>


                    <ul class="navbar-nav auth-menu">
                        <li class="nav-item"><a class="nav-link" href="/Authentication/Login">ورود</a></li>
                        <li class="nav-item"><a class="nav-link btn btn-primary text-white px-3 ms-2" href="/Authentication/Register">ثبت‌نام</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container pt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="iran-footer text-center text-muted py-3 mt-5">
        <div class="container">
            <p class="mb-0">تمامی حقوق محفوظ است © ۲۰۲۵ - مکتب وبلاگ</p>
            
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>