@model AuthenticationViewModel
@{
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<h1>صفحه ثبت نام</h1>

<form method="post" enctype="multipart/form-data">

    <label asp-for="Username">نام کاربری</label>
    <input type="text" asp-for="Username" placeholder="aiizadjoo">
    <span asp-validation-for="Username" style="color:red"></span>

    <label asp-for="Password">رمز عبور</label>
    <input type="text" asp-for="Password" placeholder="ali1234">
    <span asp-validation-for="Password" style="color:red"></span>


    <label asp-for="ProfileImage">عکس پروفایل (اختیاری)</label>
    <input asp-for="ProfileImage" type="file" />

    <button type="submit">ورود</button>

</form>