@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Bold.woff2') format('woff2');
    font-weight: bold;
}

body {
    font-family: 'Vazir', Tahoma, sans-serif;
    background-color: #f7f7f7;
}

.iran-navbar {
    border-bottom: 2px solid #e6e6e6;
}

    .iran-navbar .nav-link {
        font-weight: 500;
        margin-left: 10px;
    }

.iran-footer {
    background: #fafafa;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
