@model CreateCategoryViewModel
@{
}


@if (TempData["Warning"]!= null)
{
    <div class="alert alert-danger">
        @TempData["Warning"]
    </div>
}
<h1>ایجاد دسته بندی</h1>

<form method="post">

   <label asp-for="Name">نام دسته بندی</label>
   <input  asp-for="Name"  type="text">
   <span asp-validation-for="Name" style="color:red"></span>

   <button type="submit">ذخیره</button>

</form>